
<%- include("partials/header"); -%>

<div class="home_container">
<form class="doctor-name" action="/" method="post">
<input  type="text" name="doctorName" placeholder="Doctor name" autocomplete="off"><br><br>
<button class="btn btn-dark" type="submit" name="doctor-btn">View patients</button>
</form>

<br>

<img src="images/img3.png" alt="">
</div>
<%- include("partials/footer"); -%>